{% extends "base.html" %}
{%load static%}
{% block content %}

    <!-- Boshlanishi: Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Biz haqimizda</h1>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Bosh sahifa</a></li>
                        <li>Biz haqimizda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Tugashi: Breadcrumbs -->

    <!-- Boshlanishi: Biz haqimizda bo‘limi -->
    <section class="about-us section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                        <img src="{%static 'images/about.png'%}" alt="#">
                        <a href="#" class="glightbox video"><i class="lni lni-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                        <span class="sub-heading">Biz haqimizda</span>
                        <h2>Har qanday tashxis uchun minglab ixtisosliklar</h2>
                        <p>Biz zamonaviy tibbiy uskunalar yordamida yuqori sifatli diagnostika xizmatlarini taklif etamiz. Tajribali mutaxassislarimiz bemorlar salomatligini tekshiradi va ularning ehtiyojlariga mos yechimlarni taqdim etadi.</p>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li><i class="lni lni-checkbox"></i>Ko‘z salomatligini tekshirish</li>
                                    <li><i class="lni lni-checkbox"></i>Eng yaxshi LASIK muolajasi</li>
                                    <li><i class="lni lni-checkbox"></i>Yengil kasalliklarni davolash</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li><i class="lni lni-checkbox"></i>Maxsus ko‘z tekshiruvi</li>
                                    <li><i class="lni lni-checkbox"></i>Kontakt linza xizmati</li>
                                    <li><i class="lni lni-checkbox"></i>Retina (ko‘z to‘r pardasi) maxsus tekshiruvi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tugashi: Biz haqimizda bo‘limi -->

    <!-- Boshlanishi: Yutuqlarimiz -->
    <section class="our-achievement section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-apartment"></i>
                        <h3 class="counter"><span id="secondo1" class="countup" cup-end="1250">1250</span></h3>
                        <p>Kasalxona xonalari</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-sthethoscope"></i>
                        <h3 class="counter"><span id="secondo2" class="countup" cup-end="350">350</span></h3>
                        <p>Mutaxassis shifokorlar</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-emoji-smile"></i>
                        <h3 class="counter"><span id="secondo3" class="countup" cup-end="2500">2500</span></h3>
                        <p>Mamnun bemorlar</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-certificate"></i>
                        <h3 class="counter"><span id="secondo4" class="countup" cup-end="35">35</span></h3>
                        <p>Yillik tajriba</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tugashi: Yutuqlarimiz -->

    <!-- Start Doctors Area -->
    <section class="doctors section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Shifokorlar</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Bizning Ajoyib Jamoamiz Sizga Yordam Berishga Tayyor!</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Bizning shifokorlar sog'lig'ingiz uchun doimo xizmatda.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for doctor in doctors %}
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Doctor -->
                    <div class="single-doctor wow fadeInUp" data-wow-delay=".{{ forloop.counter }}s">
                        <div class="image">
                            <img src="{{ doctor.photo.url }}" alt="{{ doctor.full_name }}">
                            <ul class="social">
                                {% if doctor.facebook %}<li><a href="{{ doctor.facebook }}"><i class="lni lni-facebook-filled"></i></a></li>{% endif %}
                                {% if doctor.twitter %}<li><a href="{{ doctor.twitter }}"><i class="lni lni-twitter-original"></i></a></li>{% endif %}
                                {% if doctor.instagram %}<li><a href="{{ doctor.instagram }}"><i class="lni lni-instagram"></i></a></li>{% endif %}
                                {% if doctor.youtube %}<li><a href="{{ doctor.youtube }}"><i class="lni lni-youtube"></i></a></li>{% endif %}
                            </ul>
                        </div>
                        <div class="content">
                            <h5>{{ doctor.profession }}</h5>
                            <h3><a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.full_name }}</a></h3>
                            <a href="{% url 'doctor_detail' doctor.id %}" class="btn btn-success mt-2">Batafsil</a>
                        </div>
                    </div>
                    <!-- End Single Doctor -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Doctors Area -->
    <!-- Boshlanishi: Fikr-mulohazalar (Testimonials) bo‘limi -->
    <section class="testimonials section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-center gray-bg">
                        <h3>Fikrlar</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Odamlar nima deydi?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Quyida bizning xizmatlarimizdan foydalangan mijozlar fikrlari bilan tanishing.</p>
                    </div>
                </div>
            </div>
            <div class="row testimonial-slider">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Yagona Fikr -->
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>"Yangi odamlarga uchrashish va tezda aloqa o‘rnatish ancha oson bo‘ldi."</p>
                        </div>
                        <div class="author">
                            <img src="{% static 'images/testi1.jpg' %}" alt="Fikr egasi rasmi">
                            <h4 class="name">
                                Jeyn Anderson
                                <span class="deg">Onkologiya bemori</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Yagona Fikr -->
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>"Xizmatlar juda qulay va xodimlar juda samimiy."</p>
                        </div>
                        <div class="author">
                            <img src="{% static 'images/testi2.jpg' %}" alt="Fikr egasi rasmi">
                            <h4 class="name">
                                Paul Flavius
                                <span class="deg">Teri kasalliklari bemori</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Yagona Fikr -->
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>"Jarrohlik muolajasi professional tarzda bajarildi. Juda minnatdorman."</p>
                        </div>
                        <div class="author">
                            <img src="{% static 'images/testi3.jpg' %}" alt="Fikr egasi rasmi">
                            <h4 class="name">
                                Garri Rassel
                                <span class="deg">Jarrohlik bemori</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Yagona Fikr -->
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>"Farzandim uchun kerakli yordamni tez va sifatli oldik. Rahmat!"</p>
                        </div>
                        <div class="author">
                            <img src="{% static 'images/testi4.jpg' %}" alt="Fikr egasi rasmi">
                            <h4 class="name">
                                Alisa Uilyams
                                <span class="deg">Ona</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tugashi: Fikr-mulohazalar bo‘limi -->


{%endblock content%}